@import url(global.css);
@import url(header.css);
@import url(footer.css);


            /* HEADER */
            
.header {
    background: -o-linear-gradient(45deg, var(--primary), var(--secondary)), 
    url('../images/classes.jpg') no-repeat center center / cover;
    background: linear-gradient(45deg, var(--primary), var(--secondary)), 
    url('../images/classes.jpg') no-repeat center center / cover;
}

            /* TITLE */

.subtitle {
    font-size: 14px;
    font-weight: 700;

    color: #909090;

    text-transform: uppercase;
    letter-spacing: 0.2em;

    margin: 0 0 10px 0;
}

.title {
    font-size: 48px;
    font-weight: 700;

    color: #2c2c2c;

    text-transform: uppercase;
    letter-spacing: 0.2em;

    margin: 0 0 35px 0;
}

            /* BUTTON */

.button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    width: 180px;
    height: 60px;

    font-size: 14px;
    font-weight: 700;

    text-transform: uppercase;
    text-decoration: none;

    color: #2c2c2c;

    background-color: #f2f2f9;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;

    border: none;

    cursor: pointer;
}

.button:hover {
    color: #fff;
    background-color: #ff0e3b;
}

.button-reset {
    color: #fff;
    background-color: #ff0e3b;
}

.button-reset:hover {
    color: #2c2c2c;
    background-color: #f2f2f9;
}   


            /* CONTACT */

.contact__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.contact__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding: 100px 3% 100px 120px;
}

.contact__logo {
    width: 100%;
}

.contact__title {
    font-size: 24px;
    font-weight: 700;

    color: #2c2c2c;
    margin: 30px 0;
}

.contact__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 60px;
}

.contact__text {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 35%;
            flex: 1 0 35%;
    font-size: 14px;
    font-weight: 400;

    line-height: 2.1;
    color: #909090;
}

.contact__address {
    -webkit-box-flex: 2;
        -ms-flex: 2 0 auto;
            flex: 2 0 auto;
    margin-left: 45px;
}

.contact__address ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact__address li {
    font-size: 15px;
    font-weight: 400;

    color: #2c2c2c;

    padding-left: 25px;

    position: relative;

    top: 0;
    left: 0;

    z-index: 10;
}

.contact__address li:not(:last-of-type) {
    margin-bottom: 15px;
}

.contact__address li::before {
    content: "";

    display: block;

    width: 12px;
    height: 12px;

    border-radius: 50%;
    background-color: #ff0e3b;

    position: absolute;

    top: 6px;
    left: 0;

    z-index: 10;
}

.contact__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    -ms-flex-wrap: wrap;
    
        flex-wrap: wrap;
}

.contact__form > div:not(:last-of-type) {
    margin-bottom: 25px;
}

.contact__name  {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 49%;
            flex: 0 0 49%;
    margin-right: 2%;
}

.contacts__email {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 49%;
            flex: 0 0 49%;
}

.contact__subject {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
}

.contact__textarea {
    font-size: 15px;
    font-weight: 600;
    font-style: italic;

    color: #2c2c2c;

    padding: 20px 0 0 30px;

    background-color: #f2f2f9;

    border: none;
    outline: none;
}

.contact__area {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;

}

.contact__textarea {
    width: 100%;
    min-height: 200px;
    max-height: 200px;
    resize: none;
}

.contact__input {
    width: 100%;
    height: 62px;

    font-size: 15px;
    font-weight: 600;
    font-style: italic;

    color: #2c2c2c;

    padding-left: 30px;

    margin-right: 10px;
    background-color: #f2f2f9;
    border: none;
    outline: none;

}

.contact__submit {
    margin-right: 15px;
}


#map {
    width: 100%;
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
}




                /* MEDIA */

@media all and (max-width: 1600px) { 
    .contact__content {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%;
        padding: 100px 3% 100px 70px;
    }
}

@media all and (max-width: 1200px) {
    .contact__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        max-width: 960px;
        margin: 0 auto;
    }

    .contact__content {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%;

        padding: 100px 0 100px 0;
    }

    #map {
        width: 100%;
        min-height: 600px;

        margin: 20px 0;
    }
}


@media all and (max-width: 980px) {
    
    .body-active {
        overflow: hidden;
    }

            /* HEADER MEDIA */
.header__wrapper {
        top: 20px;
    }

    .header__menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        height: 100px;
    }

    .header__title {
        font-size: 46px;
    }

    .button {
        width: 160px;
    }
    .nav {
        display: none;
    }

    .social {
        display: none;
    }

            /* BURGER MEDIA */

    .header__burger {
        display: block;
    }

    .header__burger {
        width: 40px;
        height: 30px;
        cursor: pointer;
        position: relative;
        
        margin-right: 25px;

        border: 0;
        background-color: transparent;
    }

    .burger__line {
        display: block;
        width: 100%;
        height: 6px;

        background-color: #fff;
        border-radius: 10px;

        position: absolute;
        left: 0;
        z-index: 100;

        -webkit-transition: .2s linear;

        -o-transition: .2s linear;

        transition: .2s linear
    }
    
    .burger__line_first {
        top: 0;
    }

    .burger__line_second, .burger__line_third  {
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
    }

    .burger__line_fourth {
        bottom: 0;
    }

    .header__burger--active .burger__line_first, .header__burger--active .burger__line_fourth {
        opacity: 0;
    }

    .header__burger--active .burger__line_second {
        -webkit-transform: translateY(-50%) rotate(45deg);
            -ms-transform: translateY(-50%) rotate(45deg);
                transform: translateY(-50%) rotate(45deg);
    }

    .header__burger--active .burger__line_third {
        -webkit-transform: translateY(-50%) rotate(-45deg);
            -ms-transform: translateY(-50%) rotate(-45deg);
                transform: translateY(-50%) rotate(-45deg);
    }

    .nav__active{
        display: block;

        width: calc(100% - 40px);
        
        position: absolute;
        
        top: 100px;
        left: 0;
        right: 0;

        margin: 0 auto;
        padding: 0;

        z-index: -10;
        background-color: #190A49;
    }

    .nav__items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        
        margin: 0;
        padding: 40px 0px 90px;
    }
    
    .nav__link {
        margin: 15px 0;
    }
    .nav__items a {
        font-size: 23px;
        margin: 0;
    }

                /* SOCIAL */
    .social__active {
        display: block;

        position: absolute;

        bottom: -375px;
        left: 50%;
        right: 0;

        -webkit-transform: translateX(-50%) scale(1.4);

            -ms-transform: translateX(-50%) scale(1.4);

                transform: translateX(-50%) scale(1.4);
        z-index: 20;
    }

                /* CONTACT */

    .contact__inner {
        max-width: 720px;
    }

    .contact__content {
        padding: 60px 0;
    }

    .contact__info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    
        margin-bottom: 60px;
    }

    .contact__address {
        -webkit-box-flex: 2;
            -ms-flex: 2 0 auto;
                flex: 2 0 auto;
        margin: 15px 0;
    }
    
}



@media all and (max-width: 750px) {
                /* CONTACT */

    .contact__inner {
        max-width: 560px;
    }
}

@media all and (max-width: 590px) {

                /* CONTACT */

    .contact__inner {
        max-width: 100%;
        padding: 0 15px;
    }
    
}

@media all and (max-width: 470px) {

                /* CONTACT */

    .contact__inner {
        max-width: 100%;
    }
    
}
